@import 'variables';
@import 'layout';

.eventBasicInfo {
  --inforow-spacing: var(--spacing-m);
  --grid-gap: 1rem;

  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: 3fr 1fr;

  .descriptionPart {
    h1 {
      font-size: var(--fontsize-heading-l);
    }

    h1,
    p {
      margin: var(--inforow-spacing) 0;
    }

    .shortDescription {
      font-size: var(--fontsize-heading-s);
    }
  }

  .contactInfo {
    p {
      margin: 0;
    }
  }

  .categorisationRow {
    display: grid;
    grid-gap: var(--grid-gap);

    p {
      margin-top: 0;
    }

    @include respond_above(sm) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .infoRight {
    padding-top: 1rem;

    & > div {
      display: grid;
      grid-template-columns: auto 1fr;
      margin: var(--inforow-spacing) 0;

      & > p {
        margin: 0;
      }

      & > :first-child {
        margin-right: var(--spacing-2-xs);
      }
    }
  }

  .organisation {
    font-weight: bold;
    margin: 0;
    margin-bottom: var(--spacing-s);
  }

  .organisationLink {
    display: block;
    align-self: center;
    text-decoration: none;
  }

  .eventCategorisation {
    margin-top: var(--inforow-spacing);
  }

  .categoryTitle {
    display: block;
    color: var(--color-black-90);
    font-size: var(--fontsize-subtitle);
    font-weight: 700;
    margin-bottom: var(--spacing-3-xs);
  }
}
