@import 'layout';

.bannerHeroUpperText {
  width: 100%;
  background-color: var(--color-white);
  position: relative;
  z-index: 2;
  padding-top: var(--spacing-layout-2-xs);

  h1,
  h2,
  h3 {
    font-weight: normal;
  }

  h1 {
    font-size: var(--fontsize-heading-l);
    color: var(--color-black-90);
    margin-bottom: var(--spacing-3-xs);
  }

  h2 {
    background-color: var(--color-white);
    font-size: var(--fontsize-heading-xxl);
    margin: 0;
    color: var(--color-black);
  }

  h3 {
    width: 75%;
    font-size: var(--fontsize-heading-xs);
    color: var(--color-black-90);
    margin-top: var(--spacing-layout-2-xs);
    line-height: var(--lineheight-xl);
  }
}

.bannerHeroContainer {
  position: relative;
  z-index: 1;
  background-color: var(--color-white);
  margin-top: calc(-1 * var(--spacing-xl));
}

.bannerHeroImage {
  background-position: 50%;
  background-size: cover;
}

.korosTop {
  fill: var(--color-white);
  position: relative;

  // HACK: "transform: translateZ(0)" is a magic trick for removing subpixel
  // horizontal line under Koros on at least Google Chrome, see bug ticket
  // https://helsinkisolutionoffice.atlassian.net/browse/HDS-1628
  // This hack could be removed when the issue is fixed in HDS.
  transform: scaleY(-1) translateZ(0);
  z-index: 1;
}

.bannerHeroSpacer {
  height: 320px;
}

.korosBottom {
  fill: var(--color-white);
}

.bannerHeroOverlay {
  position: relative;
  z-index: 2;
  margin-top: -250px;
}
