services:
  app:
    container_name: palvelutarjotin-ui
    build:
      context: .
      target: ${DOCKER_TARGET:-development}
    env_file:
      - .env
    volumes:
      # Share local directory to enable development with hot reloading
      # NOTE: the volume mapping will break the production-stage build!
      - .:/app
      # Prevent sharing the following directories between host and container
      # to avoid ownership and/or platform issues:
      - /app/node_modules
      - /app/.next
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
