@import 'variables';
@import 'layout';

.eventPage {
  --enrol-button-width: 250px;
  display: block;
  z-index: 1;

  @include respond-above(sm) {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 1rem var(--spacing-2-xl);
    background-color: var(--color-white);
  }
}

.eventPageNotification {
  margin: var(--spacing-layout-s) 0;
}

.sharePart {
  display: grid;
  grid-template-columns: 1fr auto;
}

.cancelEnrolmentButton {
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.enrolmentFormSection {
  background-color: var(--enrolmentFormBackgroundColor);
  padding: 0 var(--spacing-m);
  border-top: 1px solid var(--color-black-10);
  margin-top: -1px;

  @include respond-above(sm) {
    margin: 0 calc(-1 * var(--spacing-2-xl));
    margin-top: -1px;
  }
}

.eventHero {
  --back-button-padding: 1rem;
  --hero-height: 500px;

  height: var(--hero-height);
  position: relative;

  @include respond-above(sm) {
    margin-bottom: calc((-1 * var(--hero-height)) / 2);
  }

  .backButtonContainer {
    z-index: 1;
    padding-top: var(--back-button-padding);

    svg {
      color: var(--color-black);
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-white);
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
  }
}

.occurrencesContainer {
  @include respond-above(sm) {
    margin: 0 calc(-1 * var(--spacing-2-xl));
  }
}

.hideEnrolmentForm {
  display: none;
}
