@import 'fonts';

.placeInfo {
  color: var(--color-black-90);
  font-size: var(--fontsize-body-l);
  line-height: 2rem;
  margin-top: var(--spacing-m);

  p {
    margin: 0;
  }

  a {
    color: var(--color-bus);
  }

  .linkRows {
    margin: var(--spacing-m) 0;
  }

  .linkEntry {
    .linkIcon {
      padding-right: 1rem;
      vertical-align: text-top;
    }
  }

  .linkDescription {
    // padding-left: var(--spacing-m);
    font-size: small;
    margin-top: 0;
  }

  .linkDescription {
    // padding-left: var(--spacing-m);
    font-size: small;
    margin-top: 0;
    margin-bottom: var(--spacing-s) !important;
  }
  button + .linkDescription {
    padding-left: var(--spacing-m);
  }

  .buttonChange {
    color: var(--color-bus);
    font-size: var(--fontsize-body-m);
    font-weight: 500;
    margin-left: var(--spacing-s);
  }
}
