@import 'variables';
@import 'layout';

.imageContainer {
  --photographer-background-color: rgb(255 255 255 / 40%);
  position: relative;
  width: 100%;
  top: 0;
  overflow: hidden;

  @include respond-above(m) {
    height: var(--hero-height, 500px);
    position: absolute;
  }

  .photographerText {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--photographer-background-color);
    padding: var(--spacing-2-xs);
  }

  .eventImage {
    display: block;
    width: 100%;
  }
}
