.venueInfo {
  --icon-size: 1.5rem;
  --icon-spacing: var(--spacing-xs);
  --section-spacing: var(--spacing-l) 0 0 0;
}

.venueDescription {
  margin: var(--section-spacing);
}

.venueAmenities {
  display: flex;
  flex-wrap: wrap;
  margin: var(--section-spacing);

  & > div {
    align-items: center;
    display: flex;
    flex: 1 1 33%;
    margin-top: var(--spacing-2-xs);
    margin-right: 1rem;

    svg {
      height: var(--icon-size);
      width: var(--icon-size);
      margin-right: var(--icon-spacing);
    }
  }
}
