@import 'layout';

.tableWrapper {
  max-width: 100%;
}

.table {
  --background-color-cell: var(--color-white);
  --background-color-cell-header: var(--color-black-10);
  --background-color-active-row: var(--enrolmentFormBackgroundColor);

  --border-color-cell: var(--color-black-10);

  --color-cell: var(--color-black-90);
  --color-cell-header: var(--color-black-90);

  --fontsize-cell: var(--fontsize-body-l);
  --fontsize-cell-header: var(--fontsize-body-l);

  --margin-bottom-table: var(--spacing-m);
  --spacing-cell: var(--spacing-m) var(--spacing-xs);

  --expanded-row-border-color: var(--color-black-30);

  width: 100%;
  border-collapse: collapse;

  thead {
    tr {
      th {
        color: var(--color-cell-header);
        font-size: var(--fontsize-cell-header);
        font-weight: normal;
        text-align: left;
        padding: var(--spacing-cell);
        border-bottom: 1px solid var(--border-color-cell);

        @include respond-above(md) {
          &:nth-child(2) {
            padding-left: 0;
          }

          &:nth-last-child(2) {
            padding-right: 0;
          }
        }

        &:first-child,
        &:last-child {
          padding: 0;
          width: var(--spacing-2-xl);
          border-bottom: none;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        border: 1px solid transparent;
        border-bottom: none;
        background-color: var(--background-color-cell);
        color: var(--color-cell);
        font-size: var(--fontsize-cell);
        font-weight: normal;
        text-align: left;
        padding: var(--spacing-cell);

        @include respond-above(md) {
          &:nth-child(2) {
            padding-left: 0;
          }

          &:nth-last-child(2) {
            padding-right: 0;
          }
        }

        &:first-child,
        &:last-child {
          padding: 0;
          width: var(--spacing-2-xl);
          border-bottom: none;
        }
      }

      & {
        td {
          border-bottom: 1px solid var(--border-color-cell);
        }
      }
    }

    tr.clickableRow {
      cursor: pointer;
    }

    tr.expandedArea {
      td {
        padding: var(--spacing-cell);
        background-color: var(--background-color-active-row);
        border-bottom: 1px solid var(--border-color-cell);

        @include respond-above(md) {
          padding: var(--spacing-m) var(--spacing-2-xl) !important;
        }
      }
    }

    tr.expandedRow {
      td {
        background-color: var(--background-color-active-row);
        border-top: 1px solid var(--border-color-cell);
      }
    }
  }
}
