@import 'variables';
@import 'layout';

.occurrenceTable {
  --date-filter-width: 160px;
  --inactive-date-filter-color: lightgrey;

  white-space: normal;
  margin-top: var(--spacing-m);

  .occurrencesTitle {
    font-weight: bold;
    font-size: var(--fontsize-heading-s);
  }

  .titleAndFilters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include respond-above(m) {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      margin: 0 var(--spacing-2-xl);
    }
  }

  .dateFilters {
    display: flex;
    justify-self: flex-end;
    padding: var(--spacing-s) 0;
    align-items: center;
  }

  .enrolmentNotification {
    @include respond-above(m) {
      margin: 0 var(--spacing-2-xl);
      width: auto;
    }
  }

  .loadMoreButtonWrapper {
    text-align: center;
    margin-top: var(--spacing-m);
  }

  .iconAngleUp {
    transform: rotate(180deg);
  }

  .occurrenceDetails {
    display: grid;
    grid-template-columns: 3fr 2fr;

    @include respond-above(l) {
      grid-template-columns: 4fr 2fr;
    }
  }

  .closePreviewButton {
    float: right;
    display: flex;
    align-items: center;
  }

  .occurrenceActions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    button {
      font-size: 1rem;
      display: flex;

      span {
        text-align: left;
      }
    }
  }

  .enrolmentExpandButton {
    font-size: 1rem;
  }

  .expandEnrolButton {
    align-self: flex-end;
    margin-top: auto;
    width: 100%;
    font-size: 1rem;
  }

  .enquiryButton {
    color: var(--color-black-90) !important;
    border-color: var(--color-black-90) !important;
    background-color: var(--color-engel-medium-light) !important;
  }

  .infoSection {
    display: grid;
    grid-template-columns: auto 1fr;
    white-space: normal;

    p {
      margin: 0;
    }

    &:not(:last-child) {
      margin-bottom: var(--spacing-l);
    }

    .infoTitle {
      font-weight: bold;
      font-size: var(--fontsize-heading-s);
      margin-bottom: var(--spacing-s);
    }

    & > :first-child {
      padding-right: var(--spacing-xs);
    }
  }
}

.enrolmentFormSection {
  margin-top: var(--spacing-xl);
  border-top: 1px solid var(--color-black-10);
}

.externalEnrolmentLink {
  margin-top: auto;
  align-self: flex-end;
}

.enrolmentNotice {
  margin-top: var(--spacing-m);
  padding-left: var(--spacing-m);
  line-height: var(--lineheight-l);
}
