.eventInfo {
  margin-bottom: var(--spacing-layout-s);

  .eventName {
    font-size: var(--fontsize-h-3);
    font-weight: 600;
    line-height: var(--lineheight-xl);
  }

  .organisationName {
    font-size: var(--fontsize-body-medium);
  }
}
