.keyword {
  display: flex;
  align-items: center;
  background-color: var(--color-black-10);
  color: var(--color-black-90);
  font-size: var(--fontsize-body-s);
  font-weight: normal;
  height: 1.5rem;
  margin: var(--spacing-s) var(--spacing-s) 0 0;
  padding: 0 var(--spacing-s);
  text-decoration: none;
}
.keyword-red {
  background-color: var(--color-brick);
  color: white;
}

.keyword-green {
  background-color: var(--color-copper-dark);
  color: white;
}

.keyword-black {
  background-color: var(--color-black-90);
  color: var(--color-black-10);
}

.keyword-yellow {
  background-color: var(--color-summer);
}

.keywordsList {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    list-style-type: none;
  }
}
