.root {
  --icon-width: 1.5rem;

  composes: hds-text-input from global;
}

.label {
  composes: hds-text-input__label from global;
}

.hiddenLabel {
  composes: hiddenfromscreen from global;
}

.inputWrapper {
  composes: hds-text-input__input-wrapper from global;
}

.input {
  composes: hds-text-input__input from global;
}

.helperText {
  composes: hds-text-input__helper-text from global;
}

.hasIcon {
  .inputWrapper {
    &::after {
      right: calc(var(--border-width) + var(--icon-width)) !important;
    }
  }
}

.invalidText {
  composes: hds-text-input__helper-text from global;
}

.invalid {
  composes: hds-text-input--invalid from global;
}

.readOnly {
  composes: hds-text-input--read-only from global;
}
