@import 'layout';

.enrolmentForm {
  padding: var(--spacing-layout-s) var(--spacing-layout-xs);
  white-space: normal;
  
  .rowWith2Columns {
    display: grid;

    @include respond_above(m) {
      grid-template-columns: 1fr 1fr;
      grid-gap: var(--spacing-layout-s);
    }
  }

  .rowWith3Columns {
    display: grid;
    grid-gap: var(--spacing-layout-s);

    @include respond_above(m) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .checkboxWrapper {
    align-items: center;
    display: flex;
    height: 100%;
    margin-top: 18px;
  }

  .resetFormButton {
    margin-top: -var(--spacing-s);
    margin-bottom: var(--spacing-m);
    visibility: hidden;
    text-decoration: underline;

    &Visible {
      visibility: visible;
    }
  }

  .divider {
    margin: var(--spacing-layout-s) 0 var(--spacing-layout-xs);
    width: 100%;
    border-top: 2px solid var(--color-black-20);
  }

  p {
    font-size: var(--fontsize-body-m);
  }

  .privacyPolicyLink {
    text-decoration: none;
    color: var(--color-bus);
  }

  .submitButtonWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: var(--spacing-2-xl);
  }

  .enquiryButton {
    color: var(--color-black-90);
    border-color: var(--color-black-90) !important;
    background-color: var(--color-engel-medium-light);
  }

  .queueButton {
    --background-color: var(--color-engel);
    --background-color-hover: var(--color-engel-dark);
    --background-color-focus: var(--color-engel);
    --background-color-hover-focus: var(--color-engel-dark);
    --background-color-disabled: var(--color-black-20);
    --border-color: var(--color-engel);
    --border-color-hover: var(--color-engel-dark);
    --border-color-focus: var(--color-engel);
    --border-color-hover-focus: var(--color-engel-dark);
    --border-color-disabled: var(--color-black-20);
    --color: var(--color-black);
    --color-hover: var(--color-black);
    --color-focus: var(--color-black);
    --color-hover-focus: var(--color-black);
    --color-disabled: var(--color-black);
  }

  .notification {
    margin-bottom: var(--spacing-layout-xs);
  }

  .requiredIndicator {
    color: var(--color-black-90);
    display: inline-block;
    font-size: var(--fontsize-body-xl);
    line-height: 1;
    margin-left: var(--spacing-2-xs);
    transform: translateY(var(--spacing-3-xs));
  }

  .unitField {
    display: grid;
    align-items: center;
  }
}
