@import 'layout';

.enrolmentForm {
  background-color: var(--color-black-10);
  padding: var(--spacing-layout-s) var(--spacing-layout-xs);
  margin-top: var(--spacing-layout-m);

  .rowWith2Columns {
    display: grid;
    grid-gap: var(--spacing-layout-s);

    @include respond_above(sm) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .rowWith3Columns {
    display: grid;
    grid-gap: var(--spacing-layout-s);

    @include respond_above(sm) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .checkboxWrapper {
    align-items: center;
    display: flex;
    height: 100%;
    margin-top: 18px;
  }

  .resetFormButton {
    margin-top: -var(--spacing-s);
    margin-bottom: var(--spacing-m);
    visibility: hidden;
    text-decoration: underline;

    &Visible {
      visibility: visible;
    }
  }

  .divider {
    margin: var(--spacing-layout-s) 0 var(--spacing-layout-xs);
    width: 100%;
    border-top: 2px solid var(--color-black-20);
  }

  p {
    font-size: var(--fontsize-body-m);
  }

  .privacyPolicyLink {
    text-decoration: none;
    color: var(--color-bus);
  }

  .submitButtonWrapper {
    text-align: right;
  }

  .enrolButton {
    color: var(--color-bus);
    background-color: rgb(0, 215, 167);
  }

  .enquiryButton {
    color: var(--color-black-90);
    border-color: var(--color-black-90) !important;
    background-color: var(--color-engel-medium-light);
  }

  .notification {
    margin-bottom: var(--spacing-layout-xs);
  }

  .requiredIndicator {
    color: var(--color-black-90);
    display: inline-block;
    font-size: var(--fontsize-body-xl);
    line-height: 1;
    margin-left: var(--spacing-2-xs);
    transform: translateY(var(--spacing-3-xs));
  }
}
