@import 'layout';
.newsletterSubscribeForm {
  margin-top: var(--spacing-layout-m);

  .rowWith2Columns {
    display: grid;
    grid-gap: var(--spacing-layout-s);

    @include respond_above(sm) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
