@import 'layout';

.eventSearchForm {
  --background-color-container: var(--color-black-10);

  --color-background-button-supplementary-hover: transparent;
  --color-background-button-supplementary-hover-focus: transparent;

  --fontsize-title: var(--fontsize-heading-s);

  --fontweight-clear-button: 500;

  --grid-gap: var(--spacing-l);
  --grid-gap-mobile: var(--spacing-s);

  --padding-container: var(--spacing-l) 0;

  --width-button: 17.625rem;

  background-color: var(--background-color-container);
  padding: var(--padding-container);
}

.filtersRow {
  display: grid;
  grid-gap: var(--grid-gap-mobile);

  @include respond_above(md) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.eventSearchForm {
  background-color: var(--color-black-70);
  padding: var(--spacing-layout-s);
  margin: var(--spacing-layout-s);

  @include respond_above(md) {
    padding: var(--spacing-layout-m);
    margin: var(--spacing-layout-m);
  }
}

.contentWrapper {
  display: grid;
  grid-gap: var(--grid-gap-mobile);

  @include respond_above(sm) {
    grid-gap: var(--grid-gap);
  }

  h2 {
    margin: 0;
    font-size: var(--fontsize-title);
  }
}

.buttonRow {
  display: grid;
  color: var(--color-white);

  @include respond_above(sm) {
    grid-template-columns: 180px auto;
  }

  .clearButtonWrapper {
    text-align: center;
    align-self: center;
    button {
      color: var(--color-white);
      &:hover {
        color: var(--color-black);
      }
    }

    @include respond_above(sm) {
      text-align: left;
      margin-left: var(--spacing-s);
    }
  }
}
