@import 'layout';

.eventSearchForm {
  --background-color-container: var(--color-black-10);

  --color-background-button-supplementary-hover: transparent;
  --color-background-button-supplementary-hover-focus: transparent;

  --fontsize-title: var(--fontsize-heading-s);

  --fontweight-clear-button: 500;

  --grid-gap: var(--spacing-l);
  --grid-gap-mobile: var(--spacing-s);

  --padding-container: var(--spacing-l) 0;

  --width-button: 17.625rem;

  background-color: var(--background-color-container);
  padding: var(--padding-container);
}

.filtersRow3 {
  display: grid;
  grid-gap: var(--grid-gap-mobile);

  @include respond_above(md) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.filtersRow4 {
  display: grid;
  grid-gap: var(--grid-gap-mobile);

  @include respond_above(md) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.eventSearchForm {
  padding: 0;
  background-color: transparent;
}

.resetButton {
  margin-left: var(--spacing-m);
  text-decoration: underline;
  white-space: nowrap;
}

.submitButtonPart {
  display: flex;
}

.selectInput {
  & > div {
    border: none;
  }

  & > button {
    border: none !important;
  }
}

.datePicker {
  & > div > input {
    border: none !important;
  }
}

.contentWrapper {
  display: grid;
  grid-gap: var(--grid-gap-mobile);

  h2 {
    margin: 0;
    font-size: var(--fontsize-title);
  }
}

.searchInput {
  input {
    border: none !important;
  }

  &Compact {
    input {
      padding-right: 150px !important;
    }
  }
}

.editSearchButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: underline;
  right: 1rem;
}

.textRow {
  position: relative;
}

.buttonRow {
  display: grid;
  grid-gap: 1rem;
  color: var(--color-white);

  @include respond_above(md) {
    grid-template-columns: auto 1fr auto;
  }

  .buttonsContainer {
    text-align: center;
    align-self: center;

    button {
      &:hover {
        text-decoration: underline;
      }
    }

    // button {
    //   color: var(--color-white);
    //   &:hover {
    //     color: var(--color-black);
    //   }
    // }

    @include respond_above(md) {
      text-align: right;
      margin-left: var(--spacing-s);
    }
  }
}
