.pageLayout {
  --background-color-body: #f7f6f6;
}

.pageLayout {
  height: 100%;
  width: 100%;

  display: grid;

  grid-template-rows: auto 1fr auto;
}

.pageBody {
  display: grid;
  background-color: var(--background-color-body);
}
