.errorMessage {
  --label-height: 1.625rem;

  color: var(--color-error);
  line-height: var(--label-height);
  font-size: var(--fontsize-body-l);
}

.errorNotificationContainer {
  &:focus {
    outline: 2px solid var(--color-coat-of-arms);
  }
}
