@import 'fonts';
@import 'variables';
@import 'common';

body {
  --enrolmentFormBackgroundColor: #f7fafc;
}

* {
  font-family: $font-family-base;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  cursor: pointer;

  &:focus {
    outline: 3px solid $focusOutline;
  }
}

p,
span,
li {
  line-height: $baseLineHeight;
}

#cookie-consent-language-selector-button {
  display: none;
}
