@import 'fonts';
@import 'variables';
@import '~react-toastify/dist/ReactToastify.min.css';

body {
  --enrolmentFormBackgroundColor: #f7fafc;
}

* {
  font-family: $font-family-base;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  &:focus {
    outline: 2px solid $focusOutline;
  }
}

p,
span,
li {
  line-height: $baseLineHeight;
}
