// Focused button outline color
$focusOutline: var(--color-coat-of-arms);

// Line height
$baseLineHeight: 1.5;

// Layout
$containerMaxWidth: 1200px;
$containerXSmallMaxWidth: 500px;
$containerSmallMaxWidth: 600px;

// Logo color
$logoColor: #000;
